# Visual Studio / .NET
[Bb]in/
[Oo]bj/
*.user
*.suo
*.pdb

# Logs & Temporary
*.log
*.tmp
*.bak
digitais_salvas.dat
fingerprints.json
captura.png
digital*.png
digital*.b64

# C/C++ Build Artifacts
*.obj
*.exp
*.lib

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

